body {
  color: #606060;
}

.header {
  color: #0d0d0d;
}
.about-me {
  background-color: #2e2c2c;
  color: white;
}

.details {
  margin-top: 0rem;
}

@media (min-width: 768px) {
  .details {
    margin-top: 4rem;
  }
}

.view-code-btn {
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 3px;
}

.card {
  cursor: default;
}

.card:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.card-body {
  padding: 0px;
  height: 7rem;
}

.duration {
  float: right;
}

.profile-logo {
  width: 48px;
  height: 48px;
  cursor: pointer;
}
